$breakpoint-desktop: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 500px;

$colorYellow: #BBAC14;
$colorDarkYellow: #897E0F;
$colorDarkYellowTrans: rgba($colorDarkYellow, 0.8);
$colorDarkGray: #1C1C1C;
$colorDarkGrayTrans: rgba($colorDarkGray, 0.8);

$colorWhite: #FFFFFF;
$colorLightGray: #C4C4C4;