body {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

p {
  font-size: 22px;
}

h1 {
  font-size: 35px;
  font-weight: 600;
}

a {
  cursor: pointer;
  text-decoration: none;
}
