/* line 1, sass/typography.scss */
body {
  font-size: 20px;
}

/* line 5, sass/typography.scss */
p {
  font-size: 22px;
}

/* line 9, sass/typography.scss */
h1 {
  font-size: 30px;
}

/* line 13, sass/typography.scss */
a {
  cursor: pointer;
  text-decoration: none;
}
